# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: "{{ hostvars[inventory_hostname]['db_directory'] }}"
  journal:
    enabled: true
  engine: wiredTiger

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod-maintenance.log

storage:
  wiredTiger:
     engineConfig:
       journalCompressor: zlib
       directoryForIndexes: true
     collectionConfig:
       blockCompressor: zlib
     indexConfig:
       prefixCompression: true

# network interfaces
net:
  port: 37017
  bindIp: 0.0.0.0

